[package]
name = "pwn"
version = "0.1.0"
edition = "2023_11"

[dependencies]
starknet = "^2.7.0"
openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", tag = "v0.15.0" }
alexandria_math = { git = "https://github.com/keep-starknet-strange/alexandria.git" }
alexandria_data_structures = { git = "https://github.com/keep-starknet-strange/alexandria.git" }

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry", tag = "v0.26.0" }

[[target.starknet-contract]]
sierra = true

[tool.fmt]
sort-module-level-items = true

[tool.snforge]
exit-first = true

[[tool.snforge.fork]]
name = "mainnet"
url = "https://starknet-mainnet.public.blastapi.io/rpc/v0_7"
block_id.tag = "Latest"
